@model List<AStwoD.Models.ArticleModel>

@{
    ViewBag.Title = "Articles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Статьи</h2>
<ul>
@foreach (var item in Model)
{   
    <li>
     <a href="@Url.Action("Index", new {labelForURL=@item.URL})">@item.Title</a>
     <div class="newsDescription">@item.Preview</div>
    </li>
    
}
</ul>
