@model AStwoD.Models.PageModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

<div class="container">@(new HtmlString(Model.Content))</div>
<a href="@Url.Action("RequestRepair","Home")">Отправить заявку на ремонт</a>

<h2>Привет AStwoD</h2>
<a href="@Url.Action("Index", "ControlPanel")">Ссылка на Админку!!</a>
