@model AStwoD.Models.RequestRepairModel
@{
    ViewBag.Title = "Заявка на вызов специалиста";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    
<div class="content">
<div class="contentRightSidebar">
<div class="contentRightSidebarText">
<h1>Заявка на вызов специалиста</h1>

<p>Для срочного вызова специалиста компьютерной помощи заполните форму заявки и нажмите кнопку &laquo;Отправить&raquo;. Специалист нашей компании в кратчайшие сроки свяжется с вами по указанному номеру телефона для подтверждения вашей заявки.</p>

<h2>Создать заявку</h2>

    @using (Html.BeginForm())
{
<div class="contentRightSidebarTextContacts">

    <form method="POST" class="contacts">
        <input type="hidden" name="send" />
        <table class="contacts">

        <col width="190" />
        <col width="*" />
<tr>
    <td><strong>Ваш город</strong></td>
    <td><select name="city"><option value="Москва">Москва</option><option value="Санкт-Петербург">Санкт-Петербург</option></select></td>
</tr>
<tr>
    <td><strong>Ваше имя</strong></td>
    <td><input type="text" name="fio" value=""></td>
</tr>
<tr>
    <td><strong>Контактный телефон</strong></td>
    <td><input type="text" name="contact" value=""></td>
</tr>
<tr>
    <td valign="top"><strong>Описание неисправности</strong></td>
    <td><textarea name="Message" value=""></textarea></td>
</tr>
<tr>
<td>&nbsp;</td>
<td><div class="contentButton submit"  value="Отправить заявку"  > 
    <input type="submit" />
    </div>
</td>
</tr>
</table>
</form>
</div>
}

    
    
<p>Заказ выполняется после телефонного подтверждения заявки по указанному контактному телефону.</p>

<ul>
<li>Выезд осуществляется специалистом компьютерной помощи бесплатно.</li>
<li>На услуги предоставляется гарантия. Срок гарантии на конкретную услугу уточняйте по телефонам.</li>
<li>Конечная стоимость работ определяется специалистом компьютерной помощи после обязательного проведения начальной диагностики.</li>
</ul>

<p><a href="/">Ремонт компьютеров</a>, настройка Интернета и работы с программной частью проводятся на выезде. Сложный ремонт ноутбуков&nbsp;&#8212; в сервисном центре. Для вашего удобства работает бесплатная служба доставки ноутбука в сервисный центр.</p>

<p class="important">Более подробную информацию, в том числе и о стоимости проведения работ по ремонту компьютера, вы сможете получить, позвонив нам по телефонам: +7 (495)&nbsp;995-2258 в Москве или +7 (812)&nbsp;600-0546 в Санкт-Петербурге.</p>
<p><a href="/38">Действует система скидок</a></p>

</div>
</div>
    


