@model AStwoD.Models.Page
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
}

<h2>Добавление страницы</h2>

@using(Html.BeginForm())
{
<table class="table table-striped">
    <tr>
        <td>
            Заголовок страницы:
        </td>
        <td>
            @Html.EditorFor(x=>x.Title)
        </td>
    </tr>
    <tr>
        <td>
            Имя для адресной строки:
        </td>
        <td>
            @Html.EditorFor(x=>x.Name)
        </td>
    </tr>    
    <tr>
        <td>
            Родительская страница:
        </td>
        <td>
            @Html.EditorFor(x=>x.ParentID)
        </td>
    </tr>
</table>
    <h4>Контент:</h4>
    @Html.TextAreaFor(x=>x.Content)
<button class="btn btn-info">
    Сохранить
</button>
<input type="reset" value="Очистить" class="btn btn-warning" />

}