@model IEnumerable<AStwoD.DAL.Entity_First_Model.astwod_Page>
<p>Нажав "да" удалятся все вложенные страницы.Внутри этой страницы вложены страницы:</p>
<ul>
    @foreach (var item in Model)
    {
        <li>@item.Title</li>
    }
</ul>