@model AStwoD.Models.LogOnViewModel

@{
    ViewBag.Title = "LogOn";
    Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
}
    <title>Авторизация</title>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <p><input type="submit" class="btn btn-inverse" value="Войти"/></p>
}