<!DOCTYPE html>

<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Базовый шаблон</title>
    <!--  SEO STUFF START HERE -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="follow, index">
    <!--  SEO STUFF END -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://bizstrap.themeleaf.com/css/bootstrap.css">
    <link rel="stylesheet" href="http://bizstrap.themeleaf.com/css/custom.css">
    <link rel="stylesheet" href="http://bizstrap.themeleaf.com/css/styler.css">
    <link rel="stylesheet" href="http://bizstrap.themeleaf.com/css/isotope.css">
    <link rel="stylesheet" href="http://bizstrap.themeleaf.com/css/color_scheme.css">
    <link charset="UTF-8"href="@Url.Content("~/Content/css/jquery.fancybox.css")" rel="stylesheet" type="text/css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="css/IE-fix.css" />
    <![endif]-->
    <link rel="stylesheet" href="http://bizstrap.themeleaf.com/css/font-awesome.css">
    <link rel="stylesheet" href="http://bizstrap.themeleaf.com/css/font-awesome-ie7.css">
    <link rel="stylesheet" href="http://bizstrap.themeleaf.com/css/flexslider.css">
    <script type="text/javascript" charset="UTF-8" src="@Url.Content("~/Content/js/main_ru.js")"></script>
    <script type="text/javascript" charset="UTF-8" src="@Url.Content("~/Content/js/element_main.js")"></script>
</head>
<body>
    <!-- MAIN CONTENT AREA -->
    <div class="main-content"></div>
    <!-- FOOTER STARTS HERE -->
    <footer id="footer">
        <div class="container"></div>
    </footer>
</body>
</html>


