p.news-image {
    text-align:center;
    font-style:italic;
    color:#999
}
.items3block td {
    line-height:1.2;
    padding:4px 0 0 0;
}
.items3block td p {
    margin:0 !important;
    color:#9B9B9B;
    padding:4px 0 0 0 !important;
}