body
{
    font-size: .85em;
    font-family: Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

*
{
    padding: 0px;
    margin: 0px;
}

header,
footer,
nav,
section
{
    display: block;
}

#wrapper
{
    width: 800px;
    margin: 0 auto;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/*------ Control Panel -------*/
#left-menu
{
    width: 185px;
    float: left;
    background-color: #f9f9f5;
    border: 1px solid #ccc;
    border-radius: 7px;
   
    margin-right: 10px;
}

#content
{
    float: left;
    width: 600px;
}

.resSearch
{
    position: absolute;
    margin-left: 190px;
    width: 160px;
    background: #fff;
  
}

.resSearch li
{
    color: #000;
    list-style: none;
    border-radius:3px 3px 3px 3px;
    padding:0 0 0 3px;
}

.resSearch li:hover
{
    background-color: #acacac;
   
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
    color: #fff;
}



.resSearch a:hover
{
    text-decoration: none;
}

.pagination
{
    position:fixed;
    bottom:20px;
    left:50px;
}

/*---Перекрытия бутстрапа для полей ввода */
input
{
    height:30px !important;
    margin-bottom:0 !important;
}
select
{
    margin-bottom: 0 !important;
    width: 206px !important;
}

.textA
{
    width:100%;
    min-height:200px;
    max-width:600px;
    min-width:600px;
    margin:10px 0 10px 0;
}
/*---Перекрытия бутстрапа для заголовка */

body
{
    padding:30px;
}

.navbar-inner
{
    z-index:10 !important;
}

/* --- Переход на верх ---*/
#scrolltop
{
    position:fixed;
    right:0px;
    top:0;
    width:60px;
    height:100% !important;
    margin:0 0 0 0 !important;
    opacity:0;
}
#scrolltop:hover
{   
    opacity:0.3;
    background: #acacac url(/Content/images/scrolltop.png) center bottom 10px no-repeat;
    cursor: pointer;

}

.panelAstwod
{
    position:initial !important;
    width:auto;
}


/*---Перекрытия бутстрапа для кнопки */
.btn
{
    margin-top:20px !important;
}


/*перекрытия пагенации*/

#contentPagination
{
    position:fixed;
    width:204px;
    left:50%;
    margin:0 0 0 -102px;
    height:10px;
    background: #acacac url(/Content/images/scrolltop.png) center bottom 0 no-repeat;
    opacity:0.3;
    bottom:0;
    border-radius: 5px 5px 0 0;
    
}
.pagination
{
      opacity:0;
      width:0;
      height:0;
      transition: height 0.5s;
      -webkit-transition: height 0.5s; /* Safari */
}
#contentPagination:hover .pagination ul
{
    width: 190px;
    height: 42px;
    margin: 0 0 0 0;
}

.pagination ul
{
    margin:50px 0 0 0 ;
    height:0;
    width:0;
}

#contentPagination:hover
{
    opacity:1;
}

#contentPagination:hover .pagination 
{   
    background:white;
    display:block;
    height:28px;
    width:204px;
    position:fixed !important;
    left:50%;
    margin:0 0 0 -102px !important;
    bottom:0px;
    z-index:2;
    opacity:1;
}

#layout
{   height:300px;
    overflow: auto;
   
}


/*--Поиск--*/

#search
{
    width:0;
    opacity:0; 
    transition: width 2s;
   -webkit-transition: width 2s; /* Safari */
    margin:0 0 0 175px;
}

#formSearch
{
    position:absolute;
}
