body
{
    font-size: .85em;
    font-family: Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

*
{
    padding: 0px;
    margin: 0px;
}

header,
footer,
nav,
section
{
    display: block;
}

#wrapper
{
    width: 800px;
    margin: 0 auto;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/*------ Control Panel -------*/
#left-menu
{
    width: 185px;
    float: left;
    background-color: #f9f9f5;
    border: 1px solid #ccc;
    border-radius: 7px;
   
    margin-right: 10px;
}

#content
{
    float: left;
    width: 600px;
}

.resSearch
{
    position: absolute;
    margin-left: 15px;
    width: 160px;
    background: #fff;
    margin-top: -1px;
}

.resSearch li
{
    color: #000;
    list-style: none;

}

.resSearch li:hover
{
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
    color: #fff;
}



.resSearch a:hover
{
    text-decoration: none;
}

.pagination
{
    position:absolute;
    bottom:20px;
    left:50%;
}

/*---Перекрытия бутстрапа для полей ввода */
input
{
    height:30px !important;
    margin-bottom:0 !important;
}
select
{
    margin-bottom: 0 !important;
    width: 206px !important;
}

.textA
{
    width:100%;
    min-height:200px;
    max-width:600px;
    min-width:600px;
    margin:10px 0 10px 0;
}
/*---Перекрытия бутстрапа для заголовка */
.navbar-inner
{
    position: fixed;
    width:755px;
    top:0;
}
body
{
    padding:30px;
}

.navbar-inner
{
    z-index:10 !important;
}

/* --- Переход на верх ---*/
#scrolltop
{
    position:fixed;
    right:0px;
    top:0;
    width:60px;
    height:100% !important;
    margin:0 0 0 0 !important;
    opacity:0;
}
#scrolltop:hover
{   
    opacity:0.3;
    background: #acacac url(/Content/images/scrolltop.png) center bottom 10px no-repeat;

}

.panelAstwod
{
    position:initial !important;
    width:auto;
}


/*---Перекрытия бутстрапа для кнопки */
.btn
{
    margin-top:20px !important;
}